@using QeQ.Models

@{
    if(ViewBag.Mensaje != "")
    {
        <h2 style="color:black"> @ViewBag.Mensaje </h2>
    }
   
}


<h3><a href="@Url.Action("ABMLCategorias","Backoffice",new { accion="add" })">Agregar Categoria</a></h3>



           <table>
               <tr>
                   <th> nombre </th>
                   <th> modificar </th>
                   <th> eliminar </th>
               </tr>
               @{

                   foreach (Categoria categoria in ViewBag.ListasCategorias)
                   {
                       <tr>
                           <td> @categoria.cat </td>
                           <td> <a href="@Url.Action("ABMLCategorias","Backoffice",new { accion="modif", id = categoria.IdCategoria })">Modificar </a> </td>
                           <td> <a href="@Url.Action("ABMLCategorias","Backoffice",new { accion="elim", id = categoria.IdCategoria  })">Eliminar </a> </td>
                       </tr>
                   }
               }
           </table>