@using QeQ.Models

@{
    if (ViewBag.Mensaje != "")
    {
        <h2 style="color:black"> @ViewBag.Mensaje </h2>
    }

}


<h3><a href="@Url.Action("ABMLCaracteristicas","Backoffice",new { accion="add" })">Agregar Caracteristica</a></h3>



<table>
    <tr>
        <th> Caracteristica </th>
        <th> Pregunta </th>
        <th> modificar </th>
        <th> eliminar </th>
    </tr>
    @{

        foreach (Caracteristicas Carac in ViewBag.ListasCaracteristica)
        {
            <tr>
                <td> @Carac.Caracteristica </td>
                <td> @Carac.Pregunta </td>
                <td> <a href="@Url.Action("ABMLCaracteristicas","Backoffice",new { accion="modif", id = Carac.IdCaracteristica })">Modificar </a> </td>
                <td> <a href="@Url.Action("ABMLCaracteristicas","Backoffice",new { accion="elim", id = Carac.IdCaracteristica  })">Eliminar </a> </td>
            </tr>
        }
    }
</table>

<h2>ABMLPreguntas</h2>

