                               
@model Personajes

@{
    ViewBag.Title = "PersoModif";
}

<h2 style="color: black">CatModif</h2>

<form action="@Url.Action("EditarPerso", "Backoffice")" method="post">
    <label style="color: black">Ingrese nuevo nombre para el personaje</label>

    @Html.TextBoxFor(x => x.Nom)  @Html.ValidationMessageFor(x => x.Nom)
    @Html.HiddenFor(x => x.idPerso)

    <label style="color: black">Ingrese nueva categoria para el personaje</label>
    @Html.DropDownListFor(x => x.Cat, new SelectList(ViewBag.ListaCategorias, "IdCategoria", "cat"))
    <input type="submit" name="enviar" value="Enviar" />
</form>

