@using QeQ.Models
@model Personajes
@{
    ViewBag.Title = "PersoAdd";
}

<h2 style="color: black">PersoAdd</h2>

<form action="@Url.Action("AgregarPerso", "Backoffice")" method="post">
    <label style="color: black">Ingrese un nuevo personaje</label>
    @Html.TextBoxFor(x => x.Nom) @Html.ValidationMessageFor(x => x.Nom)
    <label style="color: black">Ingrese una categoria para ese personaje</label>
    @Html.TextBoxFor(x => x.Cat) @Html.ValidationMessageFor(x => x.Cat)

    <input type="submit" name="enviar" value="Enviar" />
</form>


