@using QeQ.Models
@model Usuario
@{
    ViewBag.Title = "Login";
}

<h2 style="color: black">Login</h2>
<h3 style="color: black">@ViewBag.MensajeError</h3>

<form action="@Url.Action("RedirectLogin", "Home")" method="post">
    <label style="color: black">E-Mail</label>
    @Html.TextBoxFor(x => x.EMail) @Html.ValidationMessageFor(x => x.EMail)
    <label style="color: black">Password</label>
    @Html.PasswordFor(x => x.Contraseña) @Html.ValidationMessageFor(x => x.Contraseña)
    <input type="submit" name="enviar" value="Enviar" />
</form>